* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-width: 550px;      /* 2x LC width + RC width */
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background: transparent url(/images/common/background2.png) no-repeat fixed top;
}

#page {
  text-align: left;
	margin: 0 auto;
	padding: 0;
	border:0;
	width: 900px;
}

#header {
	margin: 2em 0 2em 0;
}

#container {
  overflow: hidden;
}

#left, #right {
	width: 250px;
}

#left {
  float: left;  
}

#middle {
  float: left;
	width: 300px;
}

#right {
  float: right;
}

#footer {
  clear: both;
}

/*##############################*/
p, h4 {
  font: small-caps 1.3em "arial", "verdana", "trebuchet", comic-sans, verdana, arial, sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
/*  text-decoration: underline;
  color: rgb(126,126,126);
  background-color:  white;*/
}

img {
  border: 0;
}

#clearboth {
  clear: both;
}

:focus { 
  -moz-outline-style: none; 
}

/* ========= NEW CSS */

p {
  margin-bottom: 1em;
}

#header {
  padding: 0 3em;
  overflow: hidden;
}

#header > .logo {
  float: left;
}

#header > .menu {
  float: right;
}

#footer {
  overflow: hidden;
  text-align: center;
}

.sidebar {
  float: left;
  width: 300px;
}

#container > .sidebar {
  width: 25%;
}

.sidebar img {
  display: block;
  margin: 0 auto;
}

.article {
  float: right;
  width: 75%;
}

.article > .content {
  float: left;
}

.article > .content > h4 {
  font-style: italic;
}

.article > .sidebar {
  float: right;
}

.content > ul > li {
  margin-bottom: 3em;
}

ul > li > .article {
  float: left;
  width: 50%;
}

ul > li {
  display: block;
  overflow: hidden;
}

ul > li > .sidebar {
  float: right;
}

#container > .sidebar > .mascot {
  display: block;
  position: relative;
  overflow: visible;
  margin: 20px auto 0;
  height: 142px;
  width: 132px;
}

#container > .sidebar > .mascot img {
  position: absolute;
  top: 0;
  left: 0;
}