* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html {
  height: 100%;
  margin-bottom: 1px;
}

body {
  min-width: 550px;      /* 2x LC width + RC width */
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background: transparent url(/images/background2.png) no-repeat fixed top;
}

#page {
  text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 700px;
}

#header {
	margin: 2em 0 2em 0;
}

#container {
}

#left, #right {
	width: 200px;
}

#left {
  float: left;  
}

#middle {
  float: left;
	width: 300px;
}

#right {
  float: right;
}

#footer {
  clear: both;
}

/*##############################*/
p, h4 {
  font: small-caps 1.3em "arial", "verdana", "trebuchet", comic-sans, verdana, arial, sans-serif;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
/*  text-decoration: underline;
  color: rgb(126,126,126);
  background-color:  white;*/
}

img {
  border: 0;
}

#clearboth {
  clear: both;
}

:focus { 
  -moz-outline-style: none; 
}