.article > .content {
  width: 50%;
}

/*#portraits {*/
  /*overflow: hidden;*/
  /*width: 77%;*/
  /*margin: 0 auto;*/
  /*padding-top: 5em;*/
/*}*/

/*.portrait {*/
  /*float: left;*/
/*}*/

/*.portrait img.portrait {*/
  /*width: 10em;*/
  /*margin: 0 2.2em;*/
/*}*/

/*.portrait a {*/
  /*display: block;*/
/*}*/
  /**/
/*p.caption {*/
  /*font-size: 1.2em;*/
  /*text-align: center;*/
/*}*/

#submit_button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#address {
  display: block;
  margin: 0 auto;
}

div#photos {
margin: 50px auto;
text-align: center;
}

div#photos ul#portraits {
  display: inline-block;
  /*list-style-image: none;*/
  /*list-style-position: outside;*/
  /*list-style-type: none;*/
  /*margin: 5px 0;*/
}

div#photos ul#portraits li {
  /*border: 1px solid red;*/
  float: left;
  height: 168px;
  /*margin-left: 15px;*/
  margin-right: 35px;
  /*padding: 0;*/
  position: relative;
  width: 97px;
  overflow: visible;
}

div#photos ul#portraits li a {
  /*position: absolute;*/
}

div#photos ul#portraits li img {
  /*border: medium none;*/
  left: 0;
  /*margin: 0 8px 0 0;*/
  overflow: hidden;
  /*padding: 0;*/
  position: absolute;
}

div#photos ul#portraits p.caption {
  position: absolute;
  bottom: 0;
  left: 30%;
  margin: 0;
}