#blurb {
  margin: 4em 0 0 0;
  padding: 0 1em 0 0;
}

#blurb a:hover {
  text-decoration: underline;
}

#band {
  margin-top: 6em;
}

p.line {
  margin: 1em 0 0 0;
  font-size: 1.2em;
}

#portraits {
  padding-top: 5em;
}

img.portrait {
  width: 10em;
  margin: 0 2.2em;
}

div.portrait {
  float: left;
}

div.portrait a {
  display: block;
}
  
p.caption {
  font-size: 1.2em;
  text-align: center;
}

#submit_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#address {
  display: block;
  margin: 0 auto;
}