#menu {
  font-family: "Comic Sans MS", sans-serif;
  font-style: italic;
}

#menu #gostaberling {
  font-size: 2.8em;
  margin-right: 3.0em;
}

#menu #gostaberling a:hover {
  text-decoration: none;
}

#music, #info, #pics, #shop {
  font-size: 1.5em;
  margin-right: 1.3em;
}

#menu a:hover {
/*  text-decoration: underline;*/
}

#menu img {
  padding-bottom: 3px;
}

#menu img.unselected:hover {
  padding-bottom: 0;
  border-bottom: 3px solid #999;
}

#menu img.selected {
  padding-bottom: 3px;
}