.menu {
  font-family: "Comic Sans MS", sans-serif;
  font-style: italic;
}

#music, #info, #pics, #shop {
  font-size: 1.5em;
  margin-right: 1.3em;
}

.menu a {
  text-decoration: none;
}

.menu img {
  padding-bottom: 3px;
}

.menu img.unselected:hover {
  padding-bottom: 0;
  border-bottom: 3px solid #999;
}

.menu img.selected {
  padding-bottom: 3px;
}

.logo {
  font-size: 2.8em;
}

.logo a:hover {
  text-decoration: none;
}
