h4 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

img#ep {
  width: 250px;
}

p#buy_ep {
  padding-left: 5em;
}

div#middle, ul.eptracks, ul.demos {
  font: small-caps 1.1em "arial", "verdana", "trebuchet", comic-sans, verdana, arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}
