img#ep {
  margin: 0 0 0 -7em;
  width: 120%;
}

p#buy_ep {
  padding-left: 5em;
}

div#middle, ul.eptracks, ul.demos {
  font: small-caps 1.1em "arial", "verdana", "trebuchet", comic-sans, verdana, arial, sans-serif;
}

ul.eptracks {
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}

a:hover {
  text-decoration: underline;
}

ul.demos {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
}
