div#bandshots img.band, div#bandshots img.flyer {
  margin: 1em 1em 1em 1em;
}

img.peel {
  margin-top: 14em;
  display: block;
  margin-left: 3em;
}

a#flyer5 img {
  padding-bottom: 82px;
  width:  200px;
}
