div#bandshots img.band, div#bandshots img.flyer {
  margin: 1em 1em 1em 1em;
}

img.peel {
  margin-top: 14em;
  display: block;
  margin-left: 3em;
}

a#flyer5 img {
  padding-bottom: 82px;
  width: 200px;
}

.gallery {
  float: left;
  height: 208px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.gallery span {
  background: #000000 none repeat scroll 0 0;
  bottom: 4px;
  padding: 1px 5px;
  color: #FFFFFF;
  left: 0;
  position: absolute;
  display: none;
  width: 200px;
}
