#popup {
  display: none;
}

embed.tune {
  margin-top: 1em;
  width: 30em;
  height: 3em;
}

body.popup {
  background: #blue url() no-repeat;
}

h3.heading {
  color: black;
}

h3.center {
  text-align: center;
  margin-top: 1.2em;
}

hr.separator {
  color: rgb(112,128,144);
  width: 100%;
  margin: 2px 0 10px 0;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  width: 450px;
}

p.member {
  color: black;
}

p.member a {
  color: gray;
}

img.spinner {
  margin: 20px auto 0;
  display: block;
  background: no-repeat url(/images/ajax-loader.gif);
}

p#address {
  margin-top: -.6em;
}

p#submit {
  margin-top: -.3em;
}

