.content
  %ul
    %li
      .article
        %h4
          %i Travel
          is available for only $5 as digital download at
          %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
            iTunes
          ,
          %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
            Lala
          ,
          %a{:href => 'http://www.amazon.com/Travel/dp/B003DO887C/'}
            Amazon
          , and
          %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
            CD Baby.
        %p.line
        %h4
          If you want a CD copy of Travel, send your name and |
          mailing address to:
        %p.line
          %strong theband [at] gostaberling DOT com
        %p.line
        %h4
          CDs are $7, shipping (to the US) included. |
          Overseas shipping cost depends on where |
          we're sending it. |
      .sidebar
        %img.ep{:src => '/images/band/albums/travel_front.png'}
    %li
      .article
        %h4
          Our first EP
          %i Everybody's Sweetheart
          can also be found in digital form |
          at iTunes, Lala, Amazon and CD Baby, |
          or on CD from the band.
      .sidebar
        %img#ep{:src => '/images/band/albums/gosta_sweetheart_sm.gif'}
