#header
  = render :partial => 'common/menu'

#container
  #left.column
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}
  #middle.column
    #blurb
      coming soon...

  #right.column
    / %img#band{:src => '/images/pics-photo1-small.png'}
  
#footer
  -