#header
  = render :partial => 'common/menu'

#container

  #left.column
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}

  #middle.column
    #news
      %h4 news:
      %p
        Our 2nd EP is in the works - stay tuned for more newz!
  #right.column
    %a#flyer{:href => '#'}
      %img#flyer{:src => '/images/gostaberling_theeparkside2.jpg'}

#footer
  -
