#header
  = render :partial => 'common/menu'

#container

  #left.column
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}

  #middle.column
    #news
      %h4 news:
      %p
        Our first EP, Everybody's Sweetheart, is now for sale in CD form in an
        actual store! It's at the Artist Xchange Gallery on 16th Street
        between Valencia and Guerrero in San Francisco.
        %a{:href => 'http://www.artist-xchange.com/'} The Artist Xchange
        is an awesome place. Full of great locally made art that you can hang
        on your wall, wear, use to drink coffee...and yes, listen to.
        Head on over and support local artists!
      %p
        We're hunkering down now to finish our next EP (as yet untitled...if
        you have suggestions, let us know). We recorded basic tracks at
        %a{:href => 'http://www.closerrecording.com'} Closer Studios
        in San Francisco, and are finishing the rest at the cabin. If
        all goes according to plan it will be available by early June.
      %p
        And finally, save the date, because we plan to celebrate the release
        of the EP with another installment of our Vive le Rock shows, this
        time at
        %a{:href => 'http://www.elriosf.com'} El Rio
        in San Francisco. The date is Wednesday June 17. We'll
        have musical guests and a local filmmaker will show a short film or
        two.

  #right.column
    %a#flyer{:href => '#'}
      %img#flyer{:src => '/images/gostaberling_mrsmiths_sept09_1-small.png'}

#footer
  -
