#header
  = render :partial => 'common/menu'

#container

  #left.column
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}

  #middle.column
    #news
      %h4 news:
      %p
        Come join us at
        %a{:href => 'http://elriosf.com'} El Rio 3158 Mission St. in San Francisco,
        Wednesday June 17. We'll be playing songs from our soon-to-come new EP, some
        songs off the first EP, "Everybody's Sweetheart" (soon-to-be on sale
        at iTunes and other digital music outlets) and some brand new songs.
        Joining us will be
        %a{:href => 'http://www.myspace.com/kidmud'} Kid Mud
        and
        %a{:href => 'http://www.myspace.com/totallyskeletal'} Skeletal System.
        %a{:href => 'http://www.myspace.com/nickgamino'} Nick Gamino
        will show a short film or two. The night begins at 8:30pm. We should be on stage
        at 10:00pm. And all for only $5!.
      %p
        Our first EP, Everybody's Sweetheart, is now for sale in CD form in an
        actual store! It's at the Artist Xchange Gallery on 16th Street
        between Valencia and Guerrero in San Francisco.
        %a{:href => 'http://www.artist-xchange.com/'} The Artist Xchange
        is an awesome place. Full of great locally made art that you can hang
        on your wall, wear, use to drink coffee...and yes, listen to.
        Head on over and support local artists!
  #right.column
    %a#flyer{:href => '#'}
      %img#flyer{:src => '/images/gostaberling_theeparkside.jpg'}

#footer
  -
