#header
  = render :partial => 'common/menu'

#container
  .sidebar
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}
  .article
    .content
      %h4 news:
      %p
        Our 2nd EP
        %i Travel
        is available now at
        %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
          iTunes
        ,
        %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
          Lala
        ,
        %a{:href => 'http://www.amazon.com/Travel/dp/B003DO887C/'}
          Amazon
        , and
        %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
          CD Baby.
      %p
        Our next show is Sunday, April 11 at
        %a{:href => 'http://www.rasputinmusic.com/locations.html'}
          Rasputin Records in Berkeley.
        Our set starts at 2pm. The show is free, and all ages.
      %p
        We get press...
      %p
        The East Bay Express calls
        %i Travel
        %a{:href => 'http://www.eastbayexpress.com/ebx/local-licks/Content?oid=1623512'}
          "...a lovely little EP".
      %p
        SF Bay Area music blog Kata Rokkar calls us
        %a{:href => 'http://katarokkar.cribble.net/2010/03/kuestionnaire-gosta-berling/trackback/'}
          "...young and fresh sounding".
    .sidebar
      %a#flyer{:href => '#'}
        %img#flyer{:src => '/images/gb_couch1_kimos_022510a.jpg'}

#footer
  -
