.content
  %h4 news:
  %p
    The
    %i Travel
    EP is available at
    %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
      iTunes
    ,
    %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
      Lala
    ,
    %a{:href => 'http://www.amazon.com/Travel/dp/B003DO887C/'}
      Amazon
    , and
    %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
      CD Baby.
  %p
    We're back live on Wednesday, May 19 at
    %a{:href => 'http://www.elriosf.com/'}
      El Rio
    , 3158 Mission St (@ Cesar Chavez), San Francisco.
  %p
    Our good friends 
    %a{:href => 'http://www.thematinees.com/'}
      The Matinees 
    start the night at 9pm.
    We go on at 10pm and
    %a{:href => 'http://www.myspace.com/foreigncinemamusic'}
      Foreign Cinema 
    go on at 11pm. Cover is $5.
  %p
  %p
    ** We get press **
  %p
    The East Bay Express calls
    %i Travel
    %a{:href => 'http://www.eastbayexpress.com/ebx/local-licks/Content?oid=1623512'}
      "...a lovely little EP".
  %p
    SF Bay Area music blog Kata Rokkar calls us
    %a{:href => 'http://katarokkar.cribble.net/2010/03/kuestionnaire-gosta-berling/trackback/'}
      "...young and fresh sounding".
.sidebar
  %a#flyer{:href => '/images/band/gb_couch1_kimos_022510a_big.jpg'}
    %img{:src => '/images/band/gb_couch1_kimos_022510a.jpg'}

  %a#show{:href => '/images/flyers/el-rio-bookmark-big.png'}
    %img{:src => '/images/flyers/el-rio-bookmark.png'}


:javascript
  $(function() {
    $("a#flyer, a#show").fancybox();
  });

