.content
  %h4 news:
  %p
    The
    %i Travel
    EP is available at
    %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
      iTunes
    ,
    %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
      Lala
    ,
    %a{:href => 'http://www.amazon.com/Travel/dp/B003DO887C/'}
      Amazon
    , and
    %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
      CD Baby.
  %p
    Come see us play on Wednesday, September 29 at
    %a{:href => "http://www.yelp.com/biz/grant-and-green-saloon-san-francisco"}
      Grant & Green
    , 1371 on Grant Ave (between Green St & Vallejo St) in the North Beach
    neighborhood of San Francisco. It's our first show since February and
    we're looking forward to playing songs from the first two EPs as well
    as 4 or 5 new ones we've been working on the last few months.
  %p
    The show is early and free. We start at 9pm sharp and will be done by
    10pm. So you can be home and snug in bed at a good hour. And also? It's
    free. Gratis. No cover...nil, nunca, nada, zilch, non, zero. So that's
    more money to spend at the bar, on a babysitter, on new clothes or
    maybe a copy of our EP Travel.
  %p
    ** We get press **
  %p
    The East Bay Express calls
    %i Travel
    %a{:href => 'http://www.eastbayexpress.com/ebx/local-licks/Content?oid=1623512'}
      "...a lovely little EP".
  %p
    SF Bay Area music blog Kata Rokkar calls us
    %a{:href => 'http://katarokkar.cribble.net/2010/03/kuestionnaire-gosta-berling/trackback/'}
      "...young and fresh sounding".
.sidebar
  %a#flyer{:href => '/images/band/gb_couch1_kimos_022510a_big.jpg'}
    %img{:src => '/images/band/gb_couch1_kimos_022510a.jpg'}

  %a#show{:href => '/images/flyers/flyer_9_29_grant_and_green.jpg'}
    %img{:src => '/images/flyers/flyer_9_29_grant_and_green.jpg'}


:javascript
  $(function() {
    $("a#flyer, a#show").fancybox();
  });

