.content
  %h4 news:
  %p
    The
    %i Travel
    EP is available at
    %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
      iTunes
    ,
    %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
      Lala
    ,
    %a{:href => 'http://www.amazon.com/Travel/dp/B003DO887C/'}
      Amazon
    , and
    %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
      CD Baby.
  %p
    Hey everybody!  We just booked a show at the
    %a{:href => "http://hemlocktavern.com/"}
      Hemlock Tavern
    on Friday, July 22nd.  Show starts at 9:30pm and also on the bill are two other excellent bands,
    %a{:href => "http://mistandmast.com/"}
      Mist and Mast
    and
    %a{:href => "http://www.myspace.com/loveischemicals"}
      Love is Chemicals

    The Hemlock is at
    %a{:href => 'http://maps.google.com/maps/place?q=hemlock+tavern&hl=en&cid=966257745329440917'}
      1131 Polk Street in San Francisco.

  %p
    ** We get press **
  %p
    The East Bay Express calls
    %i Travel
    %a{:href => 'http://www.eastbayexpress.com/ebx/local-licks/Content?oid=1623512'}
      "...a lovely little EP".
  %p
    SF Bay Area music blog Kata Rokkar calls us
    %a{:href => 'http://katarokkar.cribble.net/2010/03/kuestionnaire-gosta-berling/trackback/'}
      "...young and fresh sounding".
.sidebar
  %a#flyer{:href => '/images/band/gb_couch1_kimos_022510a_big.jpg'}
    %img{:src => '/images/band/gb_couch1_kimos_022510a.jpg'}

  %a#show{:href => '/images/flyers/flyer-hemlock-july22-large.jpg'}
    %img{:src => '/images/flyers/flyer-hemlock-july22.jpg'}


:javascript
  $(function() {
    $("a#flyer, a#show").fancybox();
  });

