.content
  %h4 news:
  %p
    The
    %i Travel
    EP is available at
    %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
      iTunes
    ,
    %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
      Lala
    ,
    %a{:href => 'http://www.amazon.com/Travel/dp/B003DO887C/'}
      Amazon
    , and
    %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
      CD Baby.
  %p
    This Saturday, February 19, we'll be playing at the
    %a{:href => "http://www.50masonsocialhouse.com/"}
      50 Mason Social House
    at
    %a{:href => 'http://tinyurl.com/46roswv'}
      50 Mason Street in San Francisco.
    Our set is at 10pm. Samson plays at 9pm, Smash Atoms at
    11pm. The show is free. Yes, free.  It's our first show in a long time
    and we'll be playing a few new songs that we've been working hard on
    in the rehearsal studio.
  %p
    ** We get press **
  %p
    The East Bay Express calls
    %i Travel
    %a{:href => 'http://www.eastbayexpress.com/ebx/local-licks/Content?oid=1623512'}
      "...a lovely little EP".
  %p
    SF Bay Area music blog Kata Rokkar calls us
    %a{:href => 'http://katarokkar.cribble.net/2010/03/kuestionnaire-gosta-berling/trackback/'}
      "...young and fresh sounding".
.sidebar
  %a#flyer{:href => '/images/band/gb_couch1_kimos_022510a_big.jpg'}
    %img{:src => '/images/band/gb_couch1_kimos_022510a.jpg'}

  %a#show{:href => '/images/flyers/flyer-feb-2011-large.png'}
    %img{:src => '/images/flyers/flyer-feb-2011.png'}


:javascript
  $(function() {
    $("a#flyer, a#show").fancybox();
  });

