#header
  = render :partial => 'common/menu'

#container

  #left.column
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}

  #middle.column
    #news
      %h4 news:
      %p
        Our 2nd EP <i>Travel</i> in available now at
        %a{:href => 'http://itunes.apple.com/us/album/travel/id352879302'}
          iTunes
        ,
        %a{:href => 'http://www.lala.com/#album/2810527644410744975/Gosta_Berling/Travel'}
          Lala
        , and
        %a{:href => 'http://www.cdbaby.com/cd/gostaberling2'}
          Cd Baby.
      %p
        To celebrate the new record we're playing on Thursday, |
        February 25 at
        %a{:href => 'http://www.kimosbarsf.com/'}
          Kimo's
        , 1351 Polk Street in San Francisco. We're also doing an acoustic set |
        on 
        %a{:href => 'http://www.piratecatradio.com/'}
          Pirate Cat Radio
        on Monday, February 15 at 10am.

  #right.column
    %a#flyer{:href => '#'}
      %img#flyer{:src => '/images/flyer-tenement-sm.png'}

#footer
  -
