%h1 Hi there

%ul.gallery
  - %w(photo2 photo3 photo4).each do |photo|
    %li
      = image_tag("/images/pics-#{photo}-small.png")
      %span Sample caption stuff

:javascript
  $('.gallery').cycle({
    cleartype: true,
    timeout: 8000,
    pause: true,
    before: function() {
      $('.gallery span').css('display','none');
    },
    after: function() {
      $('span', this).css({opacity: '0.8'}).show("slow");
    }
  });
