#header
  = render :partial => 'common/menu'

#container
  .sidebar
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}

  .article

#footer
  %img.peel{:src => '/images/peel-slowly.png'}
  = render :partial => 'gallery'
