#header
  = render :partial => 'common/menu'

#container
  #left.column
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}

  #middle.column
    %img.peel{:src => '/images/peel-slowly.png'}

  #right.column

  #clearboth
  
  #bottom.column
    = render :partial => 'gallery'
