%h3.heading Berlin
%h3.heading Gosta Berling - Everybody's Sweetheart &copy; 2008

%center
  %embed{:class => 'tune', :src => 'http://s3.amazonaws.com/gostaberling/songs/05 - Berlin.mp3'}

%p.stanza
  New york to los angeles
  %br
  Seeing as I'm from kansas
  %br
  You might think that would be enough for me

%p.stanza
  But I found LA rather simple
  %br
  And its ways too provincial
  %br
  For a girl in this age of possibility

%p.stanza
  Berlin, berlin
  %br
  I kinda like the sound of it
  %br
  Berlin, berlin
  %br
  Your lulu's coming

%p.stanza
  I should leave this joyless street
  %br
  Pack up my beaux features
  %br
  And dancer's frame, black laquer bangs, oil sheen

%p.stanza
  And when I get back to the states
  %br
  I just hope I'm not too late
  %br
  To see my name up on the marquee

%p.stanza
  Berlin, berlin
  %br
  I kinda like the sound of it
  %br
  Berlin, berlin
  %br
  Your lulu's coming

%p.stanza
  Because the bastards like to keep you guessing
  %br
  Like to teach you little lessons
  %br
  To let you know who's in control and who's not

%p.stanza
  I never liked to play their game
  %br
  I don't appreciate being made
  %br
  To moon and fawn over some damn job I don't want

%p.stanza
  Berlin, berlin
  %br
  I kinda like the sound of it
  %br
  Berlin, berlin
  %br
  Your lulu's coming
