%h3.heading The Garden of Allah
%h3.heading Gosta Berling - Everybody's Sweetheart &copy; 2008

%center
  %embed{:class => 'tune', :src => 'http://s3.amazonaws.com/gostaberling/songs/02 - The Garden of Allah.mp3'}

%p.stanza
  Alla was the mistress of the scene
  %br
  She had introduced Rudy to Jean
  %br
  Jean ran off when Rudy showed a sign
  %br
  That he might want more than just a showpiece for a bride

%p.stanza
  Natacha made the set for Camille
  %br
  To symbolize her feminine ideal
  %br
  Rudy had an ideal of his own
  %br
  And hid behind Natacha so nobody would know

%p.stanza
  All the bathing beauties in the Black Sea
  %br
  Change their names to sound like Russian aristocracy
  %br
  But we all take certain liberties in the Garden of Allah

  Miss Nazimova in the Garden of Allah
  %br
  Rudy and Natacha in the Garden of Allah
  %br
  Mercedes De Acosta in the Garden of Allah
  %br
  The Garden of Allah

%p.stanza
  Mercedes, when we remember her
  %br
  It's more for ambition than her work
  %br
  Her taste for honey deep and refined
  %br
  For violet eyelids like roman blinds

%p.stanza
  Spanish, English, German songs were sung
  %br
  Italian, French, and Russian blend into a single tongue
  %br
  Oh what it must've been like to be young in the Garden of Allah

%p.stanza
  There was Tallulah in the Garden of Allah
  %br
  There was Marlene in the Garden of Allah
  %br
  And there was Greta in the Garden of Allah
  %br
  The Garden of Allah

%p.stanza
  Natacha was away when Rudy died
  %br
  She talked to him from the other side
  %br
  He said a man must be a man throughout his life
  %br
  Everything else is just between him and his wife

%p.stanza
  All the bathing beauties in the Black Sea
  %br
  Weep and wring their hands and say oh Rudy Rudy
  %br
  Things just aren't the same at all without you

%p.stanza
  Miss Nazimova in the Garden of Allah
  %br
  Rudy and Natacha in the Garden of Allah
  %br
  Mercedes De Acosta in the Garden of Allah
  %br
  The Garden of Allah
