%h3.heading Rebecca
%h3.heading Gosta Berling - Everybody's Sweetheart &copy; 2008

%center
  %embed{:class => 'tune', :src => 'http://s3.amazonaws.com/gostaberling/songs/03 - Rebecca.mp3'}

%p.stanza
  Manderley...
  %br
  Seems there's nothing here that doesn't smell like you
  %br
  Bearing those initials R.D.W.
  %br
  And there's nothing I can do you can't do better
  %br
  Oh well I'm coming after you

%p.stanza
  And the furniture here all reflects your taste
  %br
  Yeah I'm the thing that seems so out of place
  %br
  Even though it's been over a year
  %br
  Still don't know what I'm doing here

%p.stanza
  There's that name again, Rebecca
  %br
  There's that name it seems I hear it more than my own
  %br
  There's that name again, Rebecca
  %br
  Please...

%p.stanza
  Whispers die as I enter the room
  %br
  Everyone comparing me to you
  %br
  Oh take me for a walk down to the cove
  %br
  Through the azalea grove

%p.stanza
  There's that name again, Rebecca
  %br
  There's that name it seems I hear it more than my own
  %br
  There's that name again, Rebecca
  %br
  Please...

%p.stanza
  At the party I will silence all their doubts
  %br
  And show them all who's lady of this house
  %br
  Yeah silence is quite heavy in the air
  %br
  As I come down the stairs

%p.stanza
  There's that name again, Rebecca
  %br
  There's that name it seems I hear it more than my own
  %br
  There's that name again, Rebecca
  %br
  Please leave us alone

