%h3.heading These Days
%h3.heading Gosta Berling - Everybody's Sweetheart &copy; 2008

%center
  %embed{:class => 'tune', :src => 'http://s3.amazonaws.com/gostaberling/songs/04 - These Days.mp3'}

%p.stanza
  This song was written by Jackson Browne &copy; 1968
  %br
  Here is 
  %a{:src => "http://www.jimdero.com/News2003/June24Browne.htm", :target => "_new"}
    some information
  about the origin and other versions of the song.
  %br

%p.stanza
  I've been out walking
  %br
  I don't do too much talking
  %br
  These days, these days.
  %br
  These days I seem to think a lot
  %br
  About the things that I forgot to do
  %br
  And all the times I had the chance to.

%p.stanza
  I've stopped my rambling,
  %br
  I don't do too much gambling
  %br
  These days, these days
  %br
  These days I seem to think about
  %br
  How all the changes came about my ways
  %br
  And I wonder if I'll see another highway

%p.stanza
  I had a lover,
  %br
  I don't think I'll risk another
  %br
  These days, these days
  %br
  And if I seem to be afraid
  %br
  To live the life that I have made in song
  %br
  It's just that I've been losing so long.
  %br
  La la la la la, la la

%p.stanza
  I've stopped my dreaming,
  %br
  I won't do too much scheming
  %br
  These days, these days.
  %br
  These days I sit on corner stones
  %br
  And count the time in quarter tones to ten.
  %br
  Please don't confront me with my failures,
  %br
  I have not forgotten them
