%h3.heading Ziegfeld Girl
%h3.heading Gosta Berling - Everybody's Sweetheart &copy; 2008

%center
  %embed{:class => 'tune', :src => 'http://s3.amazonaws.com/gostaberling/songs/01 - Ziegfeld Girl.mp3'}

%p.stanza
  In the 1915 revue
  %br
  When you made your debut
  %br
  The new amsterdam was buzzing with reports
  %br
  Flo had found the prettiest girl in New York
  %br
  Just out of four bad years of marriage in your teens
  %br
  Now center stage of unlikely of american dreams

%p.stanza
  And when the clock strikes nine
  %br
  We stand in chorus line
  %br
  To bend and twirl
  %br
  When the clock strikes two
  %br
  Back to the dressing room
  %br
  Ziegfeld girl

%p.stanza
  It's always clearer looking back
  %br
  We all had hopes for you and jack
  %br
  It seemed a picture perfect match
  %br
  And after all the quarreling you always took him back

%p.stanza
  The things they implied
  %br
  After that awful night
  %br
  Would make your hair curl
  %br
  Did you two have a fight?
  %br
  Was it a suicide?
  %br
  Ziegfeld girl

%p.stanza
  Being everybody's sweetheart takes a toll
  %br
  Jackie and his jealousy grew harder to control
  %br
  You needed time to think, you needed time to know
  %br
  Paris in the summer beckons all the wayward souls

%p.stanza
  And when the memories
  %br
  Come so fast and sweet
  %br
  They blend and swirl
  %br
  Was it a suicide?
  %br
  Mercury bichloride
  %br
  Ziegfeld girl
