.logo
  %a{:href => '/'}
    %img{:src => '/images/common/logo.png'}

.menu
  - %w(music info pics shop).each do |i|
    - unless current_page?(:controller => i)
      %span{:id => i}
        %a{:href => (url_for(:controller => i))}
          %img{:class => 'unselected', :src => "/images/navigation/nav-#{i}-black.png"}
    - else
      %span{:id => i}
        %img{:class => 'selected', :src => "/images/navigation/nav-#{i}-brown.png"}
    