.content
  #blurb
    %p Blending the tradition of topical, lyric-oriented |
      songwriting with indie guitar rock.  Hints of 80s |
      college radio and 60s british invasion |
      sounds. |

    %p.line
      %i sign up for the
      %a{:id => 'signup', :href => url_for('signup')} email notification list
    %p.line
      %a{:href => 'http://www.myspace.com/gardenofallah'} myspace.com/gardenofallah
    %p.line
      %a{:href => 'http://www.facebook.com/gostaberling'} facebook.com/gostaberling
    %p.line
      %a{:href => 'http://www.youtube.com/user/gostaberling'} youtube.com/user/gostaberling
    %p.line
      %a{:href => 'http://www.twitter.com/gostaberling_ca'} twitter.com/gostaberling_ca
    %p.line
      %i email all inquiries to:
      %br
      %strong theband [at] gostaberling DOT com
.sidebar
  %a#band{:href => '/images/band/photo-band-info-big.png'}
    %img{:src => '/images/band/photo-band-info.png'}

- content_for :footer do
  .band-photos#demo
    %ul#portraits#menu
      - %w(damon andre david greg).each do |dude|
        %li.portrait
          %a{:id => dude, :href => url_for(dude)}
            %img{:src => "/images/band/members/portrait-#{dude}-small-new.png"}
          %p.caption
            %a{:href => url_for(dude)}= (dude != 'andre' ? dude : 'andré')

-#<div id="demo">
-#  <ul id="menu">
-#    <li> <a href="http://feeds2.feedburner.com/aextnet"><img src="css/images/feed.png" alt="Full RSS Feed"/></a> </li>
-#    <li> <a href="http://feedburner.google.com/fb/a/mailverify?uri=aextnet&amp;loc=en_U"> <img src="css/images/email.png" alt="E-Mail Delivery"/></a> </li>
-#    <li> <a href="http://twitter.com/aextnet"> <img src="css/images/twitter.png" alt="Follow us on Twitter"/></a> </li>
-#    <li> <a href="http://facebook.com/aextnet"> <img src="css/images/facebook.png" alt="I'm on FaceBook"/></a> </li>
-#    <li> <a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&amp;noui&amp;jump=close&amp;url=http://aext.net&amp;title=AEXT.NET', 'delicious','toolbar=no,width=550,height=550'); return false;"> <img src="css/images/delicious.png" alt="Save it!"/></a> </li>
-#    <li> <a href="http://technorati.com/faves?sub=addfavbtn&add=http://aext.net"> <img src="css/images/technorati.png" alt="Favorite this blog"/></a> </li>
-#  </ul>
-#</div>
-#<div style="clear: both;"></div>


:javascript
  $(function() {

    $(".portrait img").bubbleup({scale: 150});

    $("a#band").fancybox();

    $(".portrait > a").fancybox();
    $(".portrait .caption > a").fancybox();

    $(".portrait img").click(function() {
      $(this).mouseout();
    });

    $("a#signup").fancybox({autoDimensions: false, width: 250, height: 100, ajax: {dataType: "html"}, onComplete: function() { setupAddress(); }});

    setupAddress = function() {
      $('#address').focus();
      $('#address').bind('keypress',function(event) {
        if (/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test($(this).attr('value'))) {
          $('#submit_button').attr('disabled', false);
        } else {
          $('#submit_button').attr('disabled', true);
        }
      });
    }
  });
