#header
  = render :partial => 'common/menu'

#container
  .sidebar
    %a{:href => '/'}
      %img#bed{:src => '/images/bed1.png'}
  .article
    .content
      #blurb
        %p Blending the tradition of topical, lyric-oriented |
           songwriting with indie guitar rock.  Hints of 80s |
           college radio and 60s british invasion |
           sounds. |
        %p.line
          %i sign up for the
          %a{:id => 'signup'} email notification list
        %p.line
          %a{:href => 'http://www.myspace.com/gardenofallah'} myspace.com/gardenofallah
        %p.line
          %a{:href => 'http://www.facebook.com/gostaberling'} facebook.com/gostaberling
        %p.line
          %a{:href => 'http://www.youtube.com/user/gostaberling'} youtube.com/user/gostaberling
        %p.line
          %a{:href => 'http://www.twitter.com/gostaberling_ca'} twitter.com/gostaberling_ca
        %p.line
          %i email all inquiries to:
          %br
          %strong theband [at] gostaberling DOT com
    .sidebar
      %img#band{:src => '/images/photo-band-info.png'}
  
#footer
  #portraits
    - %w(damon andre david greg).each do |dude|
      .portrait
        %a{:id => dude, :href => '#'}
          %img{:class => 'portrait', :src => "/images/portrait-#{dude}-small-new.png"}
        %p.caption
          %a{:href => '#'}= (dude != 'andre' ? dude : 'andré')

:javascript
  $(function() {
    var target = "?height=500&amp;width=450&amp;inlineId=popup";
    var dudes = ['damon', 'david', 'andre', 'greg'] ;
    for (var i=0, il=dudes.length; i<il; i++) {
      $(".portrait a#" + dudes[i]).addClass("thickbox").attr("href", "info/" + dudes[i] + target);
    }

    var target_signup = "?height=100&amp;width=300&amp;inlineId=popup";
    $("a#signup").addClass("thickbox").attr("href", "info/signup" + target_signup);

    tb_init('a.thickbox');
  
    // popup preparation
    $('#submit_button').livequery(function() {
      $(this).attr('disabled', true);
    });

    $('#address').livequery(function() {
      $(this).focus();
      $(this).bind('keypress',function(event) {
        if (/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test($(this).attr('value'))) {
          $('#submit_button').attr('disabled', false);
        } else {
          $('#submit_button').attr('disabled', true);
        }
      });
    });

  });
