.content
  #blurb
    %p Blending the tradition of topical, lyric-oriented |
      songwriting with indie guitar rock.  Hints of 80s |
      college radio and 60s british invasion |
      sounds. |

    %p.line
      %i sign up for the
      %a{:id => 'signup', :href => 'info/signup'} email notification list
    %p.line
      %a{:href => 'http://www.myspace.com/gardenofallah'} myspace.com/gardenofallah
    %p.line
      %a{:href => 'http://www.facebook.com/gostaberling'} facebook.com/gostaberling
    %p.line
      %a{:href => 'http://www.youtube.com/user/gostaberling'} youtube.com/user/gostaberling
    %p.line
      %a{:href => 'http://www.twitter.com/gostaberling_ca'} twitter.com/gostaberling_ca
    %p.line
      %i email all inquiries to:
      %br
      %strong theband [at] gostaberling DOT com
.sidebar
  %a#band{:href => '/images/photo-band-info-big.png'}
    %img{:src => '/images/photo-band-info.png'}

#footer
  .band-photos
    %ul#portraits
      - %w(damon andre david greg).each do |dude|
        %li.portrait
          %a{:id => dude, :href => "info/#{dude}"}
            %img{:class => 'portrait', :src => "/images/portrait-#{dude}-small-new.png"}
          %p.caption
            %a{:href => '#'}= (dude != 'andre' ? dude : 'andré')


:javascript
  $(function() {

    $(".portrait img").bubbleup({scale: 150});

    $("a#band").fancybox();

    $(".portrait > a").fancybox();

    $("a#signup").fancybox({autoDimensions: false, width: 250, height: 100, ajax: {dataType: "html"}, onComplete: function() { setupAddress(); }});

    setupAddress = function() {
      $('#address').focus();
      $('#address').bind('keypress',function(event) {
        if (/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test($(this).attr('value'))) {
          $('#submit_button').attr('disabled', false);
        } else {
          $('#submit_button').attr('disabled', true);
        }
      });
    }
  });
