%h3.heading signup
%hr.separator
- form_tag(:action => 'info/signingup', :id => 'form_signup') do
  %p#address= text_field :name => 'email', :size => 30, :id => 'address'
  %p#submit= submit_button 'Subscribe', :id => 'submit_button', :class => 'thickbox'

:javascript
  $("#form_signup").ajaxForm({
    dataType: 'script',
    beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "text/javascript");
        $("#TB_ajaxContent").empty().createAppend('img', { className: 'spinner', src: '/images/ajax-loader.gif' });
      },
    success: function(data) {
        $("#TB_ajaxContent").html(data);
        }
  });
  