%h3.heading signup
%hr.separator

%form
  %p= text_field_tag 'email', '', :size => 30, :id => 'address'
  %p
    %button{:id => 'submit_button'}
      Subscribe


:javascript
  $(function() {
    $('#submit_button').attr('disabled', true);

    $('#submit_button').click(function() {
      $.ajax({
        type: "POST",
        dataType: "html",
        url: "info/signingup",
        data: { email: $('#address').val() },
        success: function(data, textStatus, request) { $('#fancybox-inner').html("<h3 class=\'center\'>You've been subscribed!</h3>"); }
      });
      return false;
    });

  });
