%h3.heading signup
%hr.separator
- form_remote_tag :url => '/info/signingup', :loading => "$('#TB_ajaxContent').empty().createAppend('img', { className: 'spinner', src: '/images/ajax-loader.gif' })", :html => { :id => 'form_signup' } do
  %p= text_field_tag 'email', '', :size => 30, :id => 'address'
  %p= submit_tag 'Subscribe', :id => 'submit_button', :class => 'thickbox'

